<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://feedback5.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>feedback5</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$feedback5</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Feedback" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:tuanxdqa2k.database.windows.net,1433;Initial Catalog=feedback5;User ID=feedback5@tuanxdqa2k;Password=fb00005!" Name="Data Source=tcp:tuanxdqa2k.database.windows.net,1433;Initial Catalog=feedback5;User Id=feedback5@tuanxdqa2k;Password=fb00005!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="JVance.Feedback.Web.FeedbackDb, JVance.Feedback.Web" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Feedback-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tuanxdqa2k.database.windows.net,1433;Initial Catalog=feedback5;User Id=feedback5@tuanxdqa2k;Password=fb00005!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Feedback" />
  </ItemGroup>
</Project>