@{
    ViewBag.Title = "About Jvance.Feedback.Web";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    <h4>A sample application showing MVC, bootstrap, and more</h4>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>This application uses the following technologes:</p>
      <dl>
        <dt>TODO</dt>
      </dl>
    </div>
</div>